<nav class="navbar">
  <ul>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio officia aliquam tempora consectetur enim, iure, neque rem praesentium maiores repudiandae voluptates id laudantium facilis aspernatur molestias architecto eveniet eos natus!</p>
    <!-- Add more navigation links as needed -->
  </ul>
</nav>