<div id="<%= dom_id game %>">
  <p>
    <strong>User:</strong>
    <%= game.user_id %>
  </p>

  <p>
    <strong>No of shots:</strong>
    <%= game.no_of_shots %>
  </p>

  <p>
    <strong>Game name:</strong>
    <%= game.game_name %>
  </p>

</div>
