.container {
  width: 80%;
  margin: 20px auto;
}
  
.p {
  text-align: center;
  font-size: 14px;
  padding-top: 140px;
}

.avatar-destroy-logo {
  position: absolute;
  top: 15px;
  font-size: 25px;
  z-index: 2;
  left: 10px;
  width: 25px;
  height: auto;
}

.page {
  border: 1px solid;
  padding: 2px 8px;
  margin: 0 4px;
  cursor: pointer;
}
.page.current {
  color: rgb(37, 196, 240);
}
.content-center{
  justify-content: center;
}
